/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial;
    font-size: 10pt;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.inputuser {
    margin-left: 35px;
}

.margin_auto {
    margin: auto;
}

.w_25p {
    width: 25%
}

.mar_t_20 {
    margin-top: 20px;
}

.mar_b_20 {
    margin-bottom: 20px;
}

.rounded_img {
    border-radius: 50%;
}

.v_middle {
    vertical-align: middle;
}

tbody > tr.v_middle > td {
    vertical-align: middle;
}

.align_center {
    text-align: center;
}

th.align_center {
    text-align: center;
}

ul > li.mar_t_20 {
    margin-top: 20px;
}
